body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background: url(img/drumkit-img.jpg) center;
  background-size: cover;
}

.keys-wrapper {
  display: flex;
  flex-direction: column;
  height: 52vh;
  justify-content: flex-end;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 3px black;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin: auto 10px;
  min-width: 65px;
  min-height: 70px;
  text-shadow: 0 0 8px black;
  transition: all 0.07s;
}

.playing {
  transform: scale(1.1);
  border-color: gold;
  box-shadow: 0 0 10px gold;
}

kbd {
  color: white;
  font-size: 3rem;
}

span {
  color: gold;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.directions-wrapper {
  display: flex;
  height: 48vh;
  justify-content: center;
  align-items: center;
}

.directions {
  color: gold;
  font-weight: 500;
  font-size: 1.2rem;
  border: solid 3px black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 50%;
  text-align: center;
}